.CC {
  width: 40px;
  height: 40px;
}

.CC2 {
  width: 100px;
}

.bt {
  margin-top: 9px;
}

input {
  margin-top: 8px;
  margin-left: 5px;
}

.control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
